.main {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
}

.abouts {
  width: 90%;
  margin-top: $mt;
  background-color: $green;
  &_title {
    font-size: 18vw;
    display: inline-block;
    margin: -11.5rem 0;
  }
  &_text {
    color: whitesmoke;
    padding: 160px 40px;
    text-align: center;
    &--title {
      font-size: 9vmin;
      padding-bottom: $pb;
    }
    &--img {
      width: 14.5rem;
      height: 12rem;
      padding-bottom: $pb;
    }
    &--paragraph {
      font-size: 16px;
      line-height: 30px;
      width: 75%;
      margin: auto;
    }
  }
  &_more {
    background-color: $cyan;
    background-image: url("/src/assets/images/cofee.jpg");
    height: 460px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 40px 25px;
    &--title {
      @include title;
      padding-bottom: $pb;
      color: $blue-font;

    }
    &--paragraph {
      @include paragraph;
      color: $blue-font;

    }
  }
}
