@use '../Vars' as *;

.header {
  width: 90%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_image img {
    display: block;
    width: auto;
    height: 50px;
    padding-top: 1rem;
  }

  &_nav {
    width: 90vw;
    padding-top: 2rem;

    &--ul {
      display: flex;
      justify-content: space-evenly;
      font-size: 16px;

      @media (min-width: 768px) {
        font-size: 20px;
      }

      & a {
        color: $black;
        transition: color 0.2s ease;

        &:hover {
          color: $logo;
        }
      }
    }
  }
}
