@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
/*COLOR*/
/*MARGIN*/
.header {
  width: 90%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_image img {
  display: block;
  width: auto;
  height: 50px;
  padding-top: 1rem;
}
.header_nav {
  width: 90vw;
  padding-top: 2rem;
}
.header_nav--ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
}
@media (min-width: 768px) {
  .header_nav--ul {
    font-size: 20px;
  }
}
.header_nav--ul a {
  color: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-columns: 100%;
  place-content: center;
  justify-items: center;
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.banner {
  width: 90vw;
  margin-top: 5rem;
  background-color: #fdf0ed;
}
.banner_text {
  padding: 2rem 0 6rem 0.5rem;
  font-size: 24px;
  text-align: center;
}
.banner_text--title {
  color: #1a1a1a;
  font-size: 18vw;
  text-align: left;
}
@media (min-width: 768px) {
  .banner_text--title {
    font-size: 16vmin;
  }
}
@media (min-width: 1024px) {
  .banner_text--title {
    width: 60%;
  }
}

.main {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
}

.abouts {
  width: 90%;
  margin-top: 35rem;
  background-color: #3bab87;
}
.abouts_title {
  font-size: 18vmin;
  display: inline-block;
  margin: -11.5rem 0;
}
@media (min-width: 870px) {
  .abouts_title {
    margin: -14.5rem 0;
  }
}
@media (min-width: 870px) {
  .abouts_title {
    margin: -16.5rem 0;
  }
}
.abouts_text {
  color: whitesmoke;
  padding: 160px 40px;
  text-align: center;
}
.abouts_text--title {
  font-size: 9vmin;
  padding-bottom: 2rem;
}
.abouts_text--img {
  width: 14.5rem;
  height: 12rem;
  padding-bottom: 2rem;
}
.abouts_text--paragraph {
  font-size: 16px;
  line-height: 30px;
  width: 75%;
  margin: auto;
}
.abouts_more {
  background-color: #98bdc8;
  background-image: url("/src/assets/images/cofee.jpg");
  height: 460px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 40px 25px;
}
.abouts_more--title {
  font-size: 8vmin;
  color: whitesmoke;
  line-height: 30px;
  text-align: center;
  padding-bottom: 2rem;
  color: #26565e;
}
.abouts_more--paragraph {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: whitesmoke;
  color: #26565e;
}
@media (min-width: 768px) {
  .abouts_more--paragraph {
    width: 60%;
    margin: 2rem auto;
  }
}

.proyects {
  width: 90%;
  margin-top: 35rem;
  background-color: #e9c3b9;
}
.proyects_title {
  font-size: 18vmin;
  display: inline-block;
  margin: -11.5rem 0;
}
@media (min-width: 870px) {
  .proyects_title {
    margin: -14.5rem 0;
  }
}
@media (min-width: 870px) {
  .proyects_title {
    margin: -16.5rem 0;
  }
}
.proyects_text {
  text-align: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
}
.proyects_text--title {
  padding-bottom: 5rem;
  color: #1a1a1a;
  line-height: 30px;
  font-size: 30px;
}
.proyects_container {
  background-color: #224953;
  display: grid;
  grid-template-columns: 10 0%;
}
.proyects_container--child {
  height: 500px;
  color: whitesmoke;
  font-size: 8vmin;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.proyects_container--child img {
  width: 140px;
}
.proyects_container--child p {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: whitesmoke;
  width: 70%;
}
.proyects_container--child:nth-child(2) {
  background-color: #1a1a1a;
}
.proyects_container--child:nth-child(3) {
  background-color: #c1605c;
}
.proyects_container--child:nth-child(4) {
  background-color: #359770;
}
.proyects_container--child:nth-child(5) {
  background-image: url(/src/assets/images/github.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .proyects_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .proyects_container--child {
    font-size: 6vmin;
  }
  .proyects_container--child:nth-child(5) {
    grid-column: 1/3;
  }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0) rotateY(0);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.contact {
  width: 90%;
  margin-top: 35rem;
  background-color: #224953;
}
.contact_title {
  font-size: 18vmin;
  display: inline-block;
  margin: -11.5rem 0;
}
.contact_text {
  color: whitesmoke;
  font-size: 8vmin;
  padding: 5rem;
}
.contact_text--paragraph {
  text-align: left;
  font-size: 16px;
  line-height: 30px;
  padding: 1rem 3rem 3rem 0;
}
.contact_text--email {
  color: whitesmoke;
}
.contact_text--email::after {
  content: "";
  border-bottom: 3px solid;
  display: block;
  padding-top: 7rem;
  width: 10rem;
  margin-bottom: 3rem;
}
.contact_image {
  display: none;
  filter: grayscale(1);
}
@media (min-width: 630px) {
  .contact_text {
    width: 70%;
  }
}
@media (min-width: 870px) {
  .contact {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .contact_title {
    margin: -8.5rem 0;
  }
  .contact_text {
    width: 100%;
    grid-column: 1;
  }
  .contact_image {
    display: block;
    width: 100%;
  }
  .contact_image img {
    width: inherit;
  }
}
@media (min-width: 1024px) {
  .contact_title {
    margin: -10.5rem 0;
  }
}

.go {
  position: fixed;
  bottom: -2rem;
  right: -2rem;
  width: 6.6rem;
  height: 6.6rem;
  z-index: -1;
}
.go_button {
  width: 0;
  height: 0;
  background-color: #d9866d;
  cursor: pointer;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.go_button img {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s;
}

.show {
  z-index: 10;
}

.show .go_button {
  animation: popup 0.3s ease-in-out;
  width: 4rem;
  height: 4rem;
  z-index: 11;
}

.show img {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 6rem;
    height: 6rem;
  }
  100% {
    width: 4rem;
    height: 4rem;
  }
}

/*# sourceMappingURL=styles.css.map */
